@charset "utf-8";

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/NanumGothic-Bold.eot);
    src: url(../fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/NanumGothic-Bold.woff) format('woff'), url(../font/NanumGothic-Bold.ttf) format('truetype')
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NanumGothic-Regular.eot);
    src: url(../fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/NanumGothic-Regular.woff) format('woff'), url(../font/NanumGothic-Regular.ttf) format('truetype')
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/NanumGothic-Light.eot);
    src: url(../fonts/NanumGothic-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/NanumGothic-Light.woff) format('woff'), url(../font/NanumGothic-Light.ttf) format('truetype')
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/NanumGothic-ExtraBold.eot);
    src: url(../fonts/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'), url(../fonts/NanumGothic-ExtraBold.woff) format('woff'), url(../font/NanumGothic-ExtraBold.ttf) format('truetype')
}










/* Infomind Default CSS : Last Update : 2016-11-04 */
* {
    box-sizing: border-box;
}

*:focus {
    outline:none;
}

/*font*/

html {
    font-size: 14px;
}
body {
    font-family: "Nanum Gothic", 나눔고딕, sans-serif;
    color: #333;
}

a {
    cursor:pointer;
    text-decoration:none;
    color:#555;
}

a:hover {
    color:#333;
}

/*button*/

.btn-area {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
}
.btn {
    display: inline-block;
    text-decoration:none;
    font-weight: 400;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/*button Size*/

.btn.btnS {
    padding: 8px 16px;
}
.btn.btnM {
    padding: 12px 30px;
    font-size: 16px;
}
.btn.btnB {
    padding: 16px 40px;
    font-size: 16px;
    font-weight: 600;
}
.btn.btnF {
    width: 100%;
    padding: 16px 40px;
    font-size: 16px;
    font-weight: 600;
}

/*button Color*/

.btn.default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn.main {
    background-color: #ff6600;
}
.btn.sub {
    background-color: #333;
}
.btn.extra {
    background-color: #e2e2e2;
    color: #666;
}

/* default layout */

.container {
    width:980px;
    position:relative;
    margin:0 auto;
}

#header .util-wrap {
    height:32px;
    line-height:32px;
    background:#efefef;
}

#header .util-wrap p {
    margin:0;
}

#header .util-wrap p i {
    color:#eea315;
}

#header .util-wrap .util-menu {
    position:absolute;
    right:0;
    top:0;
    margin:0;
    font-size:0;

}

#header .util-menu li {
    display:inline-block;
    overflow:hidden;
}

#header .util-menu li a {
    font-size:1rem;
    display:block;
    position:relative;
    padding:0 10px;
}

#header .util-menu li a::before {
    content:"|";
    font-size:12px;
    display:block;
    position:absolute;
    left:-1px;
    top:-1px;
    color:#bbb;
}

#header .util-menu li:first-child a::before,
#header .util-menu li a.sns::before {
    content:"";
}

#header .util-menu li a.sns {
    padding:0;
    width:32px;
    height:32px;
    font-size:0;
    color:transparent;
    background:#333;
}

#header .util-menu li a.sns.twitter {
    background:url('../images/icon-sns.png') no-repeat #53acf0 left top;
}

#header .util-menu li a.sns.facebook {
    background:url('../images/icon-sns.png') no-repeat #3a5898 right top;
}



#header .top {
    height:100px;
    overflow:hidden;
}

#header h1 {
    display:block;
    width:194px;
    height:64px;
    margin-top:16px;
    font-size:0;
    color:transparent;
    background:url('../images/logo.png') no-repeat center;
}

#header .search {
    position:absolute;
    left:340px;
    top:28px;
    border:1px solid #f15e0e;
    width:360px;
    height:46px;
    border-radius:23px;
    font-size:0;
    padding:0;
    overflow:hidden;
}

#header .search input,
#header .search button {
    height:100%;
    border:none;
    background:#fff;
    vertical-align:top;
}

#header .search input {
    width:320px;
    padding:0 16px;
    font-size:18px;
    font-weight:600;

}

#header .search button i {
    font-size:20px;
    color:#f15e0e;
}

#header .top-banner {
    position:absolute;
    right:0;
    top:0;
}

#header .top-banner h2 {
    font-size:14px;
    margin:10px 0 8px;
}

#header .top-banner a {
    display:inline-block;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    background:#f15e0e;
    border-radius:50%;
    color:#fff;
}
#header .top-banner a:hover  {
    background:#333;
}

#menu {
    height:44px;
    border-bottom:1px solid #eee;
    overflow:visible;
}

#menu .container {
    background:#f15e0e;
    height:44px;
    bottom:0;
    font-size:0;

}

#menu button.all-menu {
    display:inline-block;
    width:52px;
    height:44px;
    background:#333;
    color:#fff;
    border:none;
    cursor:pointer;
}

#menu button.all-menu i {
    font-size:26px;
}
#menu .menu-set {
    display:inline-block;
    width:calc(100% - 52px);
    background:url('../images/bg-menu.png') no-repeat center;
    vertical-align:top;
    padding:0;
    text-align:center;
}

#menu .menu-set>li {
    display:inline-block;

}

#menu .menu-set h2 a {
    display:block;
    font-size:16px;
    height:44px;
    line-height:44px;
    color:#fff;
    padding:0 10px;
    margin:0 10px;
}

#menu .menu-set.on {
    position:relative;
    z-index:999;
    background:none;
    height:auto;
    border:3px solid #f15e0e;
    background:#fff;
}

#menu .menu-set.on>li  {
    border-left:1px solid #eee;
}

#menu .menu-set.on>li:first-child {
    border:none;
}

#menu .menu-set.on h2 a {
    color:#333;


}
#menu .menu-set.on div {
    font-size:1rem;
    text-align:left;
    margin-bottom:20px;
}
#menu .menu-set.on div ul {
    padding:0;
}

#menu .menu-set.on div li {
    list-style:none;
    padding:6px 15px;
}

#menu .menu-set.on div li a.active,
#menu .menu-set.on div li a:hover {
    color:#f15e0e;
    text-decoration:underline;
    font-weight:600;
}

#content.main section h2 {
    position:relative;
    font-size:28px;
    font-weight:600;
    margin:0 0 20px;
}


#content.main section.notice {
    position:relative;
    padding:10px 0;
}

#content.main section.notice h2 {
    margin:0;
    font-size:12px;
}

#content.main section.notice h2 small {
    position:relative;
    font-size:1em;
    font-weight:400;
    margin-left:10px;
}

#content.main section.notice h2 small::before {
    content:"|";
    display:block;
    position:absolute;
    left:-7px;
    top:0;
    color:#ccc;
}

#content.main section.notice h2.notice {
    position:absolute;
    right:0;
    top:10px;
}



#content.main section.main-issue {
    font-size:0;
}

#content.main section.main-issue h2 {
    margin:0;
}

#content.main section.main-issue .banner {
    display:inline-block;
    width:626px;
    height:352px;
    position:relative;

}

#content.main section.main-issue ul {
    padding:0;
    margin:0;

}
#content.main section.main-issue li {
    list-style:none;
}

#content.main section.main-issue .banner .banner-pager {
    position:absolute;
    left:0;
    bottom:0;
    background:rgba(0,0,0,0.6);
    width:100%;
    height:36px;
}

#content.main section.main-issue .banner .banner-pager a {
    display:inline-block;
    font-size:1rem;
    line-height:36px;
    color:#fff;
    width:calc(100% / 5);
    text-align:center;
    border-left:1px solid rgba(0,0,0,0.4);
    padding:0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#content.main section.main-issue .banner .banner-pager a:first-of-type {
    border-left:none;
}

#content.main section.main-issue .banner .banner-pager a.active {
    background:rgba(0,0,0,0.8);
}

#content.main section.main-issue .s-banner {
    display:inline-block;
    vertical-align:top;
    width:354px;
}
#content.main section.main-issue .s-banner li {
    font-size:1rem;
    display:inline-block;
    position:relative;
    vertical-align:top;
    width:177px;
    height:176px;
}

#content.main section.main-issue li.product h3 {
    position:absolute;
    left:10px;
    top:10px;
    margin:0;
    font-size:12px;
}

#content.main section.main-issue li.product a {
    display:block;
    height:100%;
    text-align:center;
}

#content.main section.main-issue p {
    margin:0;
    padding:0 10px;
    font-weight:600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#content.main section.main-issue p.images {
    padding:28px 0 6px;
}

#content.main section.main-issue p.images img {
    width:90px;
    height:90px;
}

#content.main section.main-issue p.price {
    padding-top:2px;
    color:#cb3030;
}

#content.main section.main-issue li.product .bx-prev,
#content.main section.main-issue li.product .bx-next {
    display:block;
    position:absolute;
    width:8px;
    height:15px;
    background:url('../images/arrow-mini.png') no-repeat;
    top:80px;
    font-size:0;
    color:transparent;
}

#content.main section.main-issue li.product .bx-prev {
    background-position:left top;
    left:6px;
}

#content.main section.main-issue li.product .bx-next {
    background-position:right top;
    right:6px;
}

#content.main section.main-issue .s-banner>ul>li:first-child {
    border-top:1px solid #eee;
}

#content.main section.main-issue .s-banner>ul>li:last-child {
    border:1px solid #eee;
    border-top:none;
    border-left:none;
}

#content.main section.main-issue .mini-banner .bx-pager {
    position:absolute;
    text-align:center;
    left:0;
    right:0;
    bottom:0;
}

#content.main section.main-issue .mini-banner .bx-pager div {
    display:inline-block;
}

#content.main section.main-issue .mini-banner .bx-pager div a {
    display:block;
    font-size:0;
    width:10px;
    height:10px;
    border-radius:50%;
    background:rgba(255,255,255,0.5);
    margin:10px 2px;
}

#content.main section.main-issue .mini-banner .bx-pager div a.active {
    background:rgba(255,255,255,1);
}


#content.main section h2 small {
    position:absolute;
    right:0;
    bottom:0;
    font-weight:200;
    font-size:0;
}

#content.main section h2 small i {
    font-size:20px;
    color:#aaa;
}


#content.main section.main-best,
#content.main section.main-recommend,
#content.main section.main-recopick,
#content.main section.main-popular {
    font-size:0;
    margin-top:30px;
}

#content.main section.main-best ul {
    padding:0;
    margin:0;
}

#content.main section.main-best li {
    display:inline-block;
    position:relative;
    list-style:none;
    width:calc(100% / 3);
    font-size:1rem;
    height:318px;
    vertical-align:top;
}

#content.main section.main-best li a {
    display:block;

    height:100%;
    padding-bottom:20px;
    border:1px solid #eee;
    border-left:none;
}

#content.main section.main-best li:first-child a {
    border-left:1px solid #eee
}


#content.main section.main-best li h3 {
    display:block;
    position:absolute;
    margin:0;
    left:0;
    top:0;
    background:#887042;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    color:#fff;
    font-weight:400;
}

#content.main section.main-best li h3 strong {
    font-size:22px;
}


#content.main section.main-best li p {
    margin:0;
    padding:0 20px 0;
}


#content.main section.main-best li p.images {
    text-align:center;
    padding:30px 0 10px;
}

#content.main section.main-best li p.images img {
    width:190px;
    height:190px;
}

#content.main section.main-best li p.name {
    font-size:16px;
    padding-bottom:4px;
    color:#333;
}

#content.main section.main-best li p.company {
    font-weight:600;
    padding-bottom:6px;
    color:#333;
}

#content.main section.main-best li p.price {
    font-size:16px;
    font-weight:600;
    color:#cb3030;
}

#content.main section.main-best li p.price del {
    font-size:14px;
    font-weight:400;
    color:#999;
}


#content.main section.main-best li div.btn-set {
    display:none;
}

#content.main section.main-best li div.label {
    position:absolute;
    right:10px;
    top:10px;
    text-align:right;
    line-height:1.6;
    font-weight:600;
    font-size:12px;
    color:#cb3030;
}

#content.main section.main-best li div.label p {
    padding:0;
}

#content.main section.main-best li div.label strong {
    font-size:16px;
}



#content.main section.main-best li a:hover {
    background:rgba(0,0,0,0.8);
    border-color:transparent;
}

#content.main section.main-best li a:hover img {
    position:relative;
    z-index:-1;
}

#content.main section.main-best li a:hover h3 {
    background:#000;
}

#content.main section.main-best li a:hover .label {
    display:none;
}

#content.main section.main-best li a:hover .name {
    display:inline-block;
    position:absolute;
    top:80px;
    width:100%;
    text-align:center;
    color:#fff;
}

#content.main section.main-best li a:hover .company {
    display:inline-block;
    position:absolute;
    top:104px;
    width:100%;
    text-align:center;
    color:#fff;
}

#content.main section.main-best li a:hover .price {
    display:inline-block;
    position:absolute;
    top:130px;
    width:100%;
    text-align:center;
    color:#ffcc00;
}

#content.main section.main-best li a:hover .price del {
    color:#fff;
}

#content.main section.main-best li a:hover .btn-set {
    display:inline-block;
    width:100%;
    text-align:center;
    position:absolute;
    bottom:100px;
    font-size:0;
}

#content.main section.main-best li a .btn-set button {
    border:none;
    background:none;
    position:relative;
    color:#fff;
    margin:0;
    padding:0 10px;
    font-size:16px;
    cursor:zoom-in;
}

#content.main section.main-recommend .tabs {
    font-size:0;
    padding:0;
    margin:0;
    width:calc(100% + 1px);
}

#content.main section.main-recommend .tabs li {
    display:inline-block;
    position:relative;
    width:calc(100% / 6);
    font-size:1rem;
}

#content.main section.main-recommend .tabs a {
    display:block;
    height:100%;
    border:1px solid #eee;
    border-bottom:1px solid #333;
    border-left:none;
    text-align:center;
    height:48px;
    line-height:48px;
}

#content.main section.main-recommend .tabs li:first-child a {
    border-left:1px solid #eee;
}

#content.main section.main-recommend .tabs a.active {
    border:1px solid #333;
    border-bottom:none;
    font-weight:600;
    color:#333;
}

#content.main section.main-recommend .tabs li:first-child a.active {
    border-left:1px solid #333;
}

#content.main section.main-recommend .tabs a.active::after {
    content:"";
    display:block;
    position:absolute;
    width:50px;
    height:3px;
    left:50%;
    bottom:0;
    margin-left:-25px;
    background:#33cccc;
}

#content.main section.main-recommend .recommend-data {
    display:none;
    border:1px solid #333;
    border-top:none;
    padding:20px 20px 6px;
    line-height:1.4;
}

#content.main section.main-recommend .recommend-data.active {
    display:block;
}

#content.main section.main-recommend .recommend-data div {
    display:inline-block;
    vertical-align:top;
    font-size:1rem;
    list-style:none;
    margin-right:30px;
}

#content.main section.main-recommend .recommend-data ul {
    display:inline-block;
    width:758px;
    padding:14px 0 0;
    margin:0;
}

#content.main section.main-recommend .recommend-data li {
    display:inline-block;
    position:relative;
    min-height:80px;
    margin-bottom:30px;
    font-size:1rem;
    list-style:none;
    padding:10px 0 0 20px;
    width:calc(100% / 3);
}

#content.main section.main-recommend .recommend-data p {
    margin:0;
    color:#333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#content.main section.main-recommend .recommend-data .company {
    font-weight:600;
}

#content.main section.main-recommend .recommend-data .price {
    font-weight:600;
    color:#cb3030;
}

#content.main section.main-recommend .recommend-data li p {
    padding-left:90px;
}

#content.main section.main-recommend .recommend-data li p.images {
    padding:0;
    position:absolute;
    top:0;
    left:20px;
}

#content.main section.main-recopick>div {
    font-size:1rem;
    padding:10px;
    border:5px solid #887042;
    min-height:220px;
}

#content.main section.main-popular ul {
    display:inline-block;
    width:100%;
    padding:0;
    margin:0;
}

#content.main section.main-popular li {

    display:inline-block;
    border:1px solid #eee;
    width:calc((100% - 60px) / 4);
    margin:0 20px 20px 0;
    font-size:1rem;
    padding-bottom:10px;
}
#content.main section.main-popular li:nth-child(4n) {
    margin:0 0 20px 0;
}


#content.main section.main-popular .images {
    height:180px;
    overflow:hidden;
    border-bottom:1px solid #eee;
    margin-bottom:10px;
    padding:0;
}


#content.main section.main-popular p {
    margin:0;
    line-height:1.4;
    padding:0 10px;
    color:#333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#content.main section.main-popular .images img {
    width:228px;
    height:228px;
    margin-top:-24px;
}

#content.main section.main-popular p.name {
    font-size:16px;
}

#content.main section.main-popular p.company {
    font-weight:600;
}

#content.main section.main-popular p.price {
    font-weight:600;
    font-size:16px;
    color:#cb3030;
}


#content.main section.main-customer {
    background:#fafaf9;
    margin:20px 0 10px;
}

#content.main section.main-customer h2 {
    margin:0;
}

#content.main section.main-customer .container {
    padding:20px 0 20px;
    font-size:0;
}

#content.main section.main-customer .container>div {
    display:inline-block;
    vertical-align:top;

    font-size:1rem;
    padding:0 20px;
}

#content.main section.main-customer .customer {
    padding-left:0;
    width:30%;
}

#content.main section.main-customer .btn-set {
    padding-right:0;
    width:30%;
}

#content.main section.main-customer .notice {
    width:40%;
    border:1px solid #ccc;
    border-top:none;
    border-bottom:none;
}

#content.main section.main-customer h3 {
    position:relative;
    font-size:16px;
    font-weight:600;
    margin:10px 0 4px;
}

#content.main section.main-customer h3 strong {
    display:block;
    font-size:32px;
    font-weight:800;
    letter-spacing:-1px;
    color:#f15e0e;
    padding-top:4px;
}

#content.main section.main-customer h3 small {
    display:block;
    position:absolute;
    right:0;
    top:0;
    font-size:12px;
    color:#555;
}

#content.main section.main-customer h3 small i {color:#999;}

#content.main section.main-customer p {
    margin:0;
    line-height:1.4;
}

#content.main section.main-customer p.small {
    font-size:12px;
    color:#3c0808;

}

#content.main section.main-customer ul {
    margin:16px 0 0;
    padding:0;
}

#content.main section.main-customer li {
    list-style:none;
    position:relative;
    padding-bottom:8px;
}

#content.main section.main-customer li i {
    position:absolute;
    right:0;
    font-style:normal;
    color:#999;
    font-size:12px;
}

#content.main section.main-customer .btn-set {
    text-align:center;
    font-size:0;

}

#content.main section.main-customer .btn-set a {
    display:inline-block;
    background:#333;
    font-size:12px;
    color:#fff;
    width:70px;
    height:70px;
    border-radius:50%;
    text-align:center;
    margin:0 6px 10px 0;
}

#content.main section.main-customer .btn-set a:hover {
    background:#f15e0e;
}

#content.main section.main-customer .btn-set a:nth-of-type(3n) {
    margin:0;
}

#content.main section.main-customer .btn-set a i {
    display:block;
    font-size:26px;
    margin:10px 0 4px;
}

section.foot-banner {
    font-size:0;
    margin-bottom:20px;
}

section.foot-banner h2 {
    margin:0;
}

section.foot-banner ul {
    padding:0;
    margin:0;
}

section.foot-banner li {
    display:inline-block;
    width:calc(100% / 5);
    text-align:center;
}



div.quick {
    display:block;
    position:fixed;
    z-index:600;
    left:calc(50% + 520px);
    background:#fff;
    top:210px;
    margin:0;
    width:80px;
    height:auto;
    border:1px solid #eee;
    text-align:center;

}


div.quick h2 {
    height:34px;
    line-height:34px;
    margin:0;
    font-size:12px;
    background:#333;
    color:#fff;
}

div.quick p {
    margin:0;
}

div.quick .btn-prev a,
div.quick .btn-next a {
    display:block;
    font-size:0;
    padding:4px 0;
    background:#efefef;
}
div.quick .btn-prev i,
div.quick .btn-next i {
    font-size:14px;
}
div.quick ul {
    margin:10px 0 0;
    padding:0;
}
div.quick li {
    margin-bottom:10px;
    list-style:none;
}
div.quick img {
    width:60px;
    height:60px;
}

div.quick .cart a {
    display:block;
    padding:20px 0;
}

div.quick .cart i {
    font-size:50px;
    display:block;
    color:#999;
    margin-bottom:10px;
}

div.quick .cart strong {
    font-weight:600;
    color:#c83c3b;
}

div.quick .top a {
    display:block;
    background:#333;
    color:#999;
    height:34px;
    line-height:34px;
}



/*footer*/
footer#footer {
    position:relative;
    padding-bottom:20px;
    border-top:1px solid #999;
}

footer#footer .footer-link {
    width:100%;
    display:inline-block;
    margin:20px 0 10px;
    padding:0;
}
footer#footer .footer-link li {
    display:block;
    float:left;
    position:relative;
    padding-right:20px;
    font-weight:600;
}

footer#footer .footer-link li a {
    color:#333;
}

footer#footer .footer-link li a::after {
    content:"|";
    font-weight:400;
    position:absolute;
    right:10px;
    color:#ccc;
}

footer#footer .footer-link li:last-child a::after {
    content:"";
}

footer#footer address {
    font-size:12px;
    color:#555;
    font-style:normal;
}

footer#footer address p {
    margin:0 0 4px;
}

footer#footer .footer-banner {
    position:absolute;
    right:0;
    top:20px;
    margin:0;
}

footer#footer .footer-banner li {
    display:inline-block;
    vertical-align:top;
    margin-left:10px;
}
